<h1>  Trips of <%= @userNameTrips %></h1>
<h4> 已定酒店 </h4>
<table>
    <tr>
        <th> 预定ID </th>
        <th> 位置 </th>
        <th> 价格 </th>
        <th> 操作 </th>
    </tr>
    <% @hotelsTrip.each do |hotelsTrip| %>
        <tr>
            <td> <%= hotelsTrip.id %> </td>
            <td> <%= hotelsTrip.location %> </td>
            <td> <%= hotelsTrip.price %> </td>
            <td> <%= link_to "delete", hotelsOrder_path(hotelsTrip.id), :method => :delete, :confirm => "You sure?", :title => "Order destroy" %>
    </tr>
    <% end %>
</table>

<h4> 已定出租车 </h4>
<table>
    <tr>
        <th> 预定ID </th>
        <th> 位置 </th>
        <th> 价格 </th>
        <th> 操作 </th>
    </tr>
    
    <% @carsTrip.each do |carsTrip| %>
        <tr>
            <td> <%= carsTrip.id %> </td>
            <td> <%= carsTrip.location %> </td>
            <td> <%= carsTrip.price %> </td>
            <td> <%= link_to "delete", carsOrder_path(carsTrip.id), :method => :delete, :confirm => "You sure?", :title => "Order destroy" %>
    </tr>
    <% end %>
</table>

<h4> 已定航班 </h4>
<table>
    <tr>
        <th> 预定ID </th>
        <th> 价格 </th>
        <th> 航班号 </th>
        <th> 出发城市 </th>
        <th> 到达城市 </th>
        <th> 操作 </th>
    </tr>
</table>
