<h1>Explore the whole universe by airdnd!</h1>

<% if current_user != nil && current_user.admin? %>
    <table>
        <tr>
            <td>  <%= link_to "管理酒店", 'hotels', :class => "home_button round" %> </td>
            <td> <%= link_to "管理航班", '#', :class => "home_button round" %> </td>
        </tr>
        <tr>
            <td> <%= link_to "管理出租车", '#', :class => "home_button round" %> </td>
            <td> <%= link_to "管理预定", '#', :class => "home_button round" %> </td>
        </tr>
    </table>
 <% else %>
    
    <table>
        <tr>
            <td>  <%= link_to "预定酒店", 'hotels', :class => "home_button round" %> </td>
            <td> <%= link_to "预定航班", '#', :class => "home_button round" %> </td>
        </tr>
        <tr>
            <td> <%= link_to "预定出租车", '#', :class => "home_button round" %> </td>
            <td> <%= link_to "个人预定", '#', :class => "home_button round" %> </td>
        </tr>
    </table>
    
<% end %>
