<header>
    <% logo = image_tag("logoFinal.jpg", :alt => "Sample App", :class => "round") %>
    <%= link_to logo, home_path %>
    <nav class="round">
        <ul>
            <li><%= link_to "首页", home_path %></li>
            <% if signed_in? %>
                <li><%= link_to "个人中心", current_user %></li>
            <% end %>
            <li><%= link_to "注册", signup_path %></li>
            <% if signed_in? %>
                <li><%= link_to "退出", signout_path, :method => :delete, :confirm => "Are you sure?" %> </li>
            <% else %>
                <li><%= link_to "登陆", signin_path %></li>
            <% end %>
        </ul>
    </nav>
</header>

